@charset "utf-8";

/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}
div {
	color: white;
}
body {
  background-color: RGB(74,82,90);
  font-size: 13.34px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  *font-size: small;
  text-align: center;
}
h1 {
    font-size: 150%;
}
h2, h3{
    font-size: 110%;
}

 h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}


a {
  color: #00a;
}

a:link
{
    text-decoration:none;
	color:RGB(221,221,221);
    border-style: none none solid;
    border-width:0px 0px 1px;
    border-color:RGB(136,136,136);
    padding: 3px 0px 2px;
    background-color: inherit;
}

a:hover {
    color:white;
    text-decoration:none;
    background-color:RGB(96,104,112);
    border-color:RGB(136,136,136);
}

a:visited {
    border-color:RGB(136,136,136);
    color: white;
}

table {
  font-size: inherit;
  font: 100%;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

  ul.posts li {
    line-height: 1.75em;
  }

  ul.posts span {
    color: #aaa;
    font-family: Monaco, "Courier New", monospace;
    font-size: 80%;
  }
.tag_index {
    float: right;
}
  .tag_index li{
 }

#disqus_thread{
    width: 70%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 100%;
  text-align: left;
  width: 60%;
  min-height: 80%;
  margin: 3em 15% 2em 15%;
  line-height: 1.5em;
}

.title {
  color:#FFF;
  font-weight: bold;
  margin-bottom: 2em;
}

.site .title a {
    color:#6FC;
    text-decoration: none;
    border-style:none;
}

  .site .title a:hover {
    color: #6FC;
  }

  .site .title a.extra {
    color: #aaa;
    text-decoration: none;
    margin-left: 1em;
  }

  .site .title a.extra:hover {
    color: #aaa;
  }

  .site .meta {
    color: #aaa;
  }

  .site .nav li{
      font-size: 80%;
      display: inline;
  }

  .site .footer {
    font-size: 80%;
    color: #666;
    border-top: 4px solid #eee;
    margin-top: 2em;
    overflow: hidden;
  }

  .site .footer .contact {
      float: left;
      margin-right: 3em;
    }

  .site .footer .contact a {
        color: #8085C1;
      }


      .site .footer .rss img {
        border: 0;
      }

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

#post {

}

  /* standard */

  #post pre {
/*
    border: 1px solid #ddd;
*/
    font-size: 95%;
    background: none repeat scroll rgb(40,40,55);
    padding: 0 .4em;
    line-height: 1em;
  }

  #post ul,
  #post ol {
    margin-left: 1.35em;
  }

  #post code {
    border: 0.1px solid rgb(94,102,110);
    color:RGB(200,200,200) ;

    background-color:rgb(84,92,100)
    font-size: 95%;
  }

    #post pre code {
      background-color:transparent;
      border: none;
    }

  /* terminal */

  #post pre.terminal {
    border: 1px solid black;
    background-color: #333;
    color: white;
  }

  #post pre.terminal code {
    background-color: #333;
  }

.tags_of_post {
    color: #999;
    font-size: 90%;
}
  .tags_of_post ul{
      margin-left: 5%;
  }
  .tags_of_post li{
    font-size: 100%;
    display: inline;
  }

#related {
  margin-top: 2em;
}

  #related h2 {
    margin-bottom: 1em;
  }
