<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{page.title}}</title>
<link href="{{site.baseurl}}css/screen.css" rel="stylesheet" type="text/css" />
<link href="{{site.baseurl}}css/pygments.css" rel="stylesheet" type="text/css" />
<script type="text/javascript">

</script>
</head>

<body>
    <div class="site">
        <div class="title">
            <a href="{{site.baseurl}}">Clavier</a>
            <a href="{{site.baseurl}}" class="extra">home</a>
            <a href="{{site.baseurl}}about.html" class="extra">about</a>
        </div>
        <!--
        <div class="nav">
            <ul>
                <li><a href="{{site.baseurl}}tags.html">TAGS</a></li>
                <li><a href="{{site.baseurl}}about">ABOUT</a></li>
            </ul>
        </div>
        -->
        <!--
        <div class="tag_index">
            <ul>
                {% for tag in site.tags %}
                <li>
                    <a href="{{site.baseurl}}tags.html#{{tag[0]}}">{{ tag[0] }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        -->
        {{ content }}
        <div class="footer">
          <p>
            lintianzhi1992(at)gmail <br />
            Hosted by <a href="http://github.com">Github</a> 
          </p>
            <div class="contact">
            </div>
        </div>
    </div>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36471194-1']);
        _gaq.push(['_trackPageview']);

        (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();

     </script>
 </body>
</html>
